h1 {
	margin: 12px 0 9px 12px
}

h4 {
	color: #2d8ac3;
}
nav h2 a,
nav h2 a:visited {
	color: #44697F;
}

.params .name, .props .name, .name code {
	color: #70bc4c;
}

.params td, .props td {
    vertical-align: middle;
}